*.gem
.bundle
pkg/*
*.swp
.rvmrc
*.DS_Store
tmp/
log/
rdoc/
coverage/
spec/bitcoin/fixtures/fake_chain
*.conf
*.db
.rbx/
/vendor
.ruby-version

# rspec
spec-rspec/examples.txt

# emacs
*~
\#*\#
.\#*

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json